body{
    font-family: comic sans ms;
    font-size: 24pt;
    color: rgb(51, 30, 30);
    text-align: center;
    background: radial-gradient(farthest-corner at 50% 50%, rgb(252, 216, 170) 10%, rgb(255, 250, 173) 10%,  rgb(255, 180, 161) 80%, rgb(255,180,162) 80%);
}

img{
    text-align: center;
    border: 5px solid rosybrown;
    border-radius: 50px;
    padding: 0px;
    width: 100%;
}
figcaption{
    font-size: 18pt;
}

h1{
    text-align: center;
}

table{
    width: 80%;
    text-align: center;
    border-collapse: collapse;
}

td{
    padding: 10px;
    border: 5px;
    border-radius: 50px;
    border-color: rgb(177, 63, 63);
}

